.app-wrapper .my-profile {
  grid-area: cont;
}

.about-user {
  border: 1px solid rgb(194, 186, 186);
  border-radius: 10px;
  width: 200px;
  height: 40px;
}

.about-user a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 40px;
  text-decoration: none;
  color: black;
}

.app-wrapper .about-user:hover {
  background-color: rgb(1, 66, 141);
}

.app-wrapper .avatar-mini img {
  width: 35px;
  border-radius: 50%;
}

.my-profile {
  margin: 1%;
  display: grid;
  grid-template-columns: 1fr 5.5fr;
  grid-template-areas: 
    "ua pi"
    "fl posts"
  ;
}

.user-avatar {
  background-color: white;
  grid-area: ua;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-avatar .avatar-settings {
  margin-top: 3%;
}

.user-avatar .avatar-settings .edit {
  border: 1 px solid lightgray;
  
}

.friends-list{
  background-color: white;
  grid-area: fl;
}

.profile-information{
  grid-area: pi;
  background-color: white;
  padding: 1%
}

.posts {
  grid-area: posts;
  background-color: white;
}

.main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-status {
  margin-bottom: 3%;
}

.some-info {
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}

.friends-info , .followers-info , .videos-info , .audio-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.friends-info > p, .followers-info > p, .videos-info > p , .audio-info > p {
  margin: -20px;
}

.friends-info a, .followers-info a, .videos-info a, .audio-info a {
  padding: 1px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.friends-info a:hover, .followers-info a:hover, .videos-info a:hover, .audio-info a:hover {
  background-color: lightgray;
  border-radius: 10px;
}