.app-wrapper header {
  grid-area: header;
  background-color: #4186D3;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .logo img {
  width: 60px;
}

header .logo img:hover {
  background-color: rgb(1, 66, 141);
}