.app-wrapper .sidebar {
  padding:1%;
  grid-area: sidebar;
  background-color: rgb(212, 221, 224);
  display: flex;
  justify-content: center;
  height: 100%;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  display: block;
}

.sidebar li a {
  width: 160px;
  padding: 10px;
  display: block;
  text-decoration: none;
  color: black;
}

.sidebar li a:hover {
  -webkit-box-shadow: 3px 2px 23px -7px rgba(0,0,0,0.6); 
box-shadow: 3px 2px 23px -7px rgba(0,0,0,0.6);
}
