.app-wrapper .sidebar {
  grid-area: sidebar;
  background-color: rgb(212, 221, 224);
  display: flex;
  justify-content: center;
  height: 300%;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  display: block;
}

.sidebar li a {
  width: 160px;
  padding: 10px;
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.sidebar li a:hover {
  border-left: 5px solid #4186D3;
  background-color: lightgray;
  border-radius: 10px;
}
