.item {
    width: 100%;
    height: 60px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 60px 1fr;
}

.item:hover {
    background: lightgray;
}

.userAvatar img {
    padding-top: 10px;
    padding-left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dialog a {
    padding: 0;
    display: block;
    color: black;
    text-decoration: none;
    height: 60px;
}

.userName {
    font-weight: bold;
    margin-top: 10px;
}

.user-avatar {
    grid-area: ua;
}

.dialogLink {
    grid-area: dl;
}

