.app-wrapper {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 60px 1fr;
  grid-gap:1%;

  grid-template-areas: 
  "header header"
  "sidebar cont";
}

.app-wrapper header {
  grid-area: header;
  background-color: #4186D3;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .logo img {
  width: 60px;
}

header .logo img:hover {
  background-color: rgb(1, 66, 141);
}

.app-wrapper .sidebar {
  grid-area: sidebar;
  background-color: rgb(212, 221, 224);
  display: flex;
  justify-content: center;
  height: 300%;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  display: block;
}

.sidebar li a {
  width: 160px;
  padding: 10px;
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.sidebar li a:hover {
  border-left: 5px solid #4186D3;
  background-color: lightgray;
  border-radius: 10px;
}

.app-wrapper .my-profile {
  grid-area: cont;
  background-color: rgb(212, 221, 224);
}

.about-user {
  border: 1px solid rgb(194, 186, 186);
  border-radius: 10px;
  width: 200px;
  height: 40px;
}

.about-user a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 40px;
  text-decoration: none;
  color: black;
}

.app-wrapper .about-user:hover {
  background-color: rgb(1, 66, 141);
}

.app-wrapper .avatar-mini img {
  width: 35px;
  border-radius: 50%;
}

.my-profile {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 5.5fr;
  grid-gap: 5px;
  grid-template-areas: 
    "ua pi"
    "fl posts"
  ;
}

.user-avatar {
  padding: 5%;
  background-color: white;
  grid-area: ua;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-avatar .avatar-settings {
  margin-top: 3%;
}

.user-avatar .avatar-settings .edit {
  border: 1 px solid lightgray;
  
}

.friends-list{
  background-color: white;
  grid-area: fl;
}

.profile-information{
  grid-area: pi;
  background-color: white;
  padding: 1%
}

.posts {
  grid-area: posts;
  background-color: white;
}

.main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-status {
  margin-bottom: 3%;
}

.some-info {
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}

.friends-info , .followers-info , .videos-info , .audio-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.friends-info > p, .followers-info > p, .videos-info > p , .audio-info > p {
  margin: -20px;
}

.friends-info a, .followers-info a, .videos-info a, .audio-info a {
  padding: 1px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.friends-info a:hover, .followers-info a:hover, .videos-info a:hover, .audio-info a:hover {
  background-color: lightgray;
  border-radius: 10px;
}